.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: calc(100vh - 64px);
  padding: 48px 0;
}

.paper {
  width: 600px;
  padding: 24px;

  @media (max-width: 632px) {
    width: calc(100% - 32px);
  }
}

.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  & *:first-child {
    width: 100%;
  }

  & > *:not(:first-child):not(:last-child) {
    margin-bottom: 24px;

    @media (min-width: 633px) {
      width: calc(50% - 12px);
    }
  }
}
